<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Flycut</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ADX1023</string>
		<string>AnaphobiaMiniNew.audiobus</string>
		<string>Animoog-iPhone</string>
		<string>Animoog-iphone.audiobus</string>
		<string>Anytune.3.11.1.audiobus</string>
		<string>App-prefs</string>
		<string>AudioStretch-1.0.audiobus</string>
		<string>AutoTune.audiobus</string>
		<string>ComcsoftAppsRecieveriZip</string>
		<string>DarklindenBoxTest</string>
		<string>Fleksy-com.433labs.PlainText</string>
		<string>Fleksy-com.digitalruby.youdoodle</string>
		<string>G8</string>
		<string>GOLauncher</string>
		<string>GliderVerb-3.audiobus</string>
		<string>GliderVerb</string>
		<string>LearnJava</string>
		<string>LearnSQL</string>
		<string>NPROneMySpin</string>
		<string>NewWordsWithFriendsFree</string>
		<string>NotabilityBoxLogin</string>
		<string>Remaster130.audiobus</string>
		<string>RemoteMouse</string>
		<string>RoboVox-1.6.8.audiobus</string>
		<string>Singaling.1.1.audiobus</string>
		<string>SunVox.audiobus</string>
		<string>SunVox.jack</string>
		<string>TiborEqualizer</string>
		<string>VideoMergerPro</string>
		<string>Xynthesizr.1.3.audiobus</string>
		<string>Xynthesizr</string>
		<string>abvio-import-file-http</string>
		<string>abvio-import-file-https</string>
		<string>abvio-walkmeter-import-file-http</string>
		<string>abvio-walkmeter-import-file-https</string>
		<string>abvio-walkmeter</string>
		<string>activator</string>
		<string>adjust543186831</string>
		<string>alchemymob.2-3-10.audiobus</string>
		<string>alchemymob</string>
		<string>alienblue</string>
		<string>am5fd08cd3b4ca2367dbcd07c712dca8e5</string>
		<string>amc3a0b2aa1caaa0d7807e785db04dfc61</string>
		<string>amount</string>
		<string>amp44f37ca2bc6a035be675b12-0920b6cc-f825-11e4-aa41-0096e3d11ff0</string>
		<string>amp6ba96717786099084a01014-2bbaafe6-4fcd-11e4-a558-009c5fda0a25</string>
		<string>amp78c7c81c9960973b5978718-a48cca66-b719-11e2-0d46-004a77f8b47f</string>
		<string>amp7a5d9c75422fde460fd4e58-75758bf0-594b-11e4-a607-009c5fda0a25</string>
		<string>angrybirds-seasons</string>
		<string>angrybirds-starwarsii</string>
		<string>anydo</string>
		<string>anydoNewVersion</string>
		<string>anytune-dl</string>
		<string>anytune-p</string>
		<string>anytune</string>
		<string>app-prefs</string>
		<string>appcake</string>
		<string>applefeedback</string>
		<string>apptly.breedify</string>
		<string>aso543186831</string>
		<string>at.runtastic.runtastic.pro</string>
		<string>audio-player-event</string>
		<string>audiobus-preset</string>
		<string>audiobus-redeem</string>
		<string>audiobus-registry</string>
		<string>audiobus.audiobus</string>
		<string>audiocopy</string>
		<string>audiocopyapp</string>
		<string>audiocopyv3app</string>
		<string>audioshare.import</string>
		<string>audioshare1.audiobus</string>
		<string>audioshare</string>
		<string>audiosharecmd</string>
		<string>beatwave.bws</string>
		<string>beatwave2.audiobus</string>
		<string>beatwave2</string>
		<string>beatwave</string>
		<string>bitwiz</string>
		<string>bofa</string>
		<string>boxsdk-2nhrvt5f4bkn3kg2fyttk0ovg4b66iis</string>
		<string>boxsdk-4j1rcnwb3bv7e9cmm3v8z52lzhamwug6</string>
		<string>boxsdk-fh7o3y50co573zq161f84l2s46xvhxs2</string>
		<string>boxsdk-wx1ofgolega7t99w37hy5rcpd52ythh3</string>
		<string>boxsdk-zp33h8ma6bcsmu7qydzna10kxyahudu7</string>
		<string>bridge</string>
		<string>buffer50820f33d9320db52300001d</string>
		<string>burner</string>
		<string>bw3c97ba7565c01cfdc31bc5e0f900a713</string>
		<string>bwcc54affc53b6e951171d664caddbe7df</string>
		<string>byword-get-te-snippets-xc</string>
		<string>byword</string>
		<string>calinvite</string>
		<string>calinvitelist</string>
		<string>calshow</string>
		<string>cameo-app</string>
		<string>cameraplus</string>
		<string>camplus</string>
		<string>camplusfull</string>
		<string>capitalone</string>
		<string>card</string>
		<string>cards</string>
		<string>carlogbook</string>
		<string>citymapper</string>
		<string>clean-links</string>
		<string>clearapp</string>
		<string>clearappimpb</string>
		<string>clips</string>
		<string>cn.m15.mLauncher</string>
		<string>codecademy</string>
		<string>codehub</string>
		<string>colorsplash</string>
		<string>colorsplashcrashtest</string>
		<string>colorsplashinstagram</string>
		<string>com-apple-mobilesafari-tab</string>
		<string>com.YunFang.PhotoGrid</string>
		<string>com.agiletortoise.Tally2</string>
		<string>com.anydo.AnyDO</string>
		<string>com.anystonetech.Anytone</string>
		<string>com.capitalone.ease</string>
		<string>com.devhd.feedly</string>
		<string>com.flixster.video</string>
		<string>com.google.sso.263492796725</string>
		<string>com.google.sso.390630100053</string>
		<string>com.google.sso.441360573637-klc27fjjtkann0lv9nvnmig41smaa49v</string>
		<string>com.google.sso.532713016892-ev29m8tv9gejefcvvv1o3coj5bhkc1ar</string>
		<string>com.google.sso.640853332981</string>
		<string>com.google.sso.755541669657-kbosfavg7pk7sr3849c3tf657hpi5jpd</string>
		<string>com.google.sso.75882956776-quflk872g5nq29l4p16ql1u6956mehe1</string>
		<string>com.googleusercontent.apps.486040437745-qje2tqji98e3q69lneb5v7nacv4gqkgv</string>
		<string>com.googleusercontent.apps.941646906755-d6u93grph5t13oi4p0i2da6ajf982r5h</string>
		<string>com.googleusercontent.apps.97219736978-di8pllh1265l5gn8e87jtmd0tupoh0cm</string>
		<string>com.magisto.magisto</string>
		<string>com.miniclip.8ballpoolmult</string>
		<string>com.miniclip.eightballpool</string>
		<string>com.novationmusic.launchpad.sync</string>
		<string>com.novationmusic.launchpad</string>
		<string>com.rovio.AngryBirdsHalloween-5.2.5</string>
		<string>com.rovio.AngryBirdsHalloween</string>
		<string>com.rovio.angrybirdsstarwarsii-1.8.1</string>
		<string>com.rovio.angrybirdsstarwarsii</string>
		<string>com.rovio.angrybirdstransformers-1.6.23</string>
		<string>com.rovio.angrybirdstransformers</string>
		<string>com.rovio.baba-2.1.0</string>
		<string>com.rovio.baba</string>
		<string>com.sololearn.java</string>
		<string>com.sololearn.javascript</string>
		<string>com.sololearn.sql</string>
		<string>com.soundcloud.TouchApp.frankified</string>
		<string>com.soundcloud.TouchApp</string>
		<string>com.stumbleupon.stumbleuponbeta</string>
		<string>com.stumbleupon.stumbleuponent</string>
		<string>com.tzisoftware.loopy.soundcloud-auth</string>
		<string>com.udemy.sa.codingents</string>
		<string>com.wb.Flixster</string>
		<string>comgoogleearth</string>
		<string>comgoogleearthgeo</string>
		<string>comgoogleearthz</string>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemaps</string>
		<string>command-c</string>
		<string>countdown</string>
		<string>cydia</string>
		<string>daedalus</string>
		<string>darksky</string>
		<string>dayone-foursquare</string>
		<string>dayone-textexpander</string>
		<string>dayone</string>
		<string>db-0bcm217bz8olcxj</string>
		<string>db-0laqc2jlio2izck</string>
		<string>db-1fu8j09kr93yfbd</string>
		<string>db-2hch2euy729888i</string>
		<string>db-2vxl8w8i8zibqzc</string>
		<string>db-30j6esahg12o7lq</string>
		<string>db-5bvxfkv01svq3bp</string>
		<string>db-6e4mvcnlkqagviq</string>
		<string>db-7hjiy36cbbfr9uo</string>
		<string>db-7lnkz7pmmm5hf64</string>
		<string>db-9msy0x2b3tfo0mo</string>
		<string>db-a60fc6qj9zdg7bw</string>
		<string>db-a7hl6ct62mxcnkx</string>
		<string>db-auth</string>
		<string>db-b18c2yqqltm9gp6</string>
		<string>db-b8xdd85nl8h4feu</string>
		<string>db-be3yrjq683ya9i3</string>
		<string>db-bi1jr56gnzvyb3q</string>
		<string>db-c5uichcnjravjj9</string>
		<string>db-clq10pnrmrsyxdw</string>
		<string>db-e73h0434h0sxdij</string>
		<string>db-eeglxopw7z3q0sy</string>
		<string>db-ehj5varmysb9vcd</string>
		<string>db-eo6dojwhn042lh2</string>
		<string>db-fh7emt93fl9zreh</string>
		<string>db-fhujlyd3xiauh6g</string>
		<string>db-hanj5zlzs4t1yoo</string>
		<string>db-i0cvbg4s5rzbeys</string>
		<string>db-j0sg6a3talf18id</string>
		<string>db-kji10kmnkgg7euj</string>
		<string>db-lfrgn7l04af8m4n</string>
		<string>db-loj9qjssunhbewi</string>
		<string>db-p30frskcas7rrqm</string>
		<string>db-pdoppyxkaic5kfz</string>
		<string>db-qe70emp12gapr4c</string>
		<string>db-rtv5dsl9b3rgn34</string>
		<string>db-tn9sv7x0es5mwxn</string>
		<string>db-ukkuxt89ytcgt8r</string>
		<string>db-utfmltc3rvg4axm</string>
		<string>db-v8nlssc5qz2y9dc</string>
		<string>db-vj3e20lsxurhpiz</string>
		<string>db-vq7y59ko776cf5f</string>
		<string>db-wb20hqit42uvwyb</string>
		<string>db-x2wzhcdu4ha9nrd</string>
		<string>db-ypi5bp3nsnkopew</string>
		<string>db-ys8jayo9xcraq7j</string>
		<string>db-z1ayzrig5poiffs</string>
		<string>db-zoyul7wynroypwp</string>
		<string>dbapi-1</string>
		<string>dbapi-2</string>
		<string>dbapi-3</string>
		<string>deskconnect</string>
		<string>diagnostics</string>
		<string>diags</string>
		<string>djay-iphone-2</string>
		<string>djay-iphone</string>
		<string>djay2-iphone.3.audiobus</string>
		<string>djay</string>
		<string>dobutton</string>
		<string>docamera</string>
		<string>documents</string>
		<string>dolphin</string>
		<string>dominos</string>
		<string>dominospizza</string>
		<string>donote</string>
		<string>drafts4</string>
		<string>editorial-v100</string>
		<string>editorial-v110</string>
		<string>editorial-v120</string>
		<string>editorial</string>
		<string>en-dolphinbrowser-addon-8779</string>
		<string>en-evernote1509</string>
		<string>en-pdfpenios</string>
		<string>en-swipes</string>
		<string>en-team146</string>
		<string>en</string>
		<string>endlesshttp</string>
		<string>endlesshttps</string>
		<string>enx</string>
		<string>esuios</string>
		<string>evernote</string>
		<string>evernotemsg</string>
		<string>expensesok</string>
		<string>facebookloginhome</string>
		<string>facebookmusichome</string>
		<string>facefilmpro</string>
		<string>facetime-audio-prompt</string>
		<string>facetime-audio</string>
		<string>facetime</string>
		<string>facetune</string>
		<string>fb-events-share</string>
		<string>fb-groups</string>
		<string>fb-messenger-api20131028</string>
		<string>fb-messenger-api20140131</string>
		<string>fb-messenger-api20140301</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-diode</string>
		<string>fb-messenger-group-thread</string>
		<string>fb-messenger-neue</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger-share</string>
		<string>fb-messenger-voip</string>
		<string>fb-messenger</string>
		<string>fb-pma-diode</string>
		<string>fb-pma</string>
		<string>fb112953085413703</string>
		<string>fb113174082133029</string>
		<string>fb113246946530</string>
		<string>fb115654248518</string>
		<string>fb115862191798713</string>
		<string>fb118771041524706</string>
		<string>fb118881298142408</string>
		<string>fb119350384867635</string>
		<string>fb120956658079139</string>
		<string>fb121937287842071</string>
		<string>fb122259781154546</string>
		<string>fb122280541186600</string>
		<string>fb125664117508</string>
		<string>fb126217267510749</string>
		<string>fb127501794028649pro</string>
		<string>fb129765800430121</string>
		<string>fb134519659678</string>
		<string>fb137206539707334</string>
		<string>fb1400115056914345</string>
		<string>fb1409526049315009</string>
		<string>fb1413575495558802</string>
		<string>fb145236405546547</string>
		<string>fb1460946020860318</string>
		<string>fb146855172127737amsdlite</string>
		<string>fb1469131183357012</string>
		<string>fb1499734693635934</string>
		<string>fb158669500838010</string>
		<string>fb160390970703628</string>
		<string>fb1620670138158226</string>
		<string>fb162575247235</string>
		<string>fb162918433202runtasticpro</string>
		<string>fb163114453728333</string>
		<string>fb165073083517174</string>
		<string>fb165378153531668runtasticpro</string>
		<string>fb165907476854626</string>
		<string>fb168378113211268newwordswithfriendsfree</string>
		<string>fb170956139584666</string>
		<string>fb174829003346</string>
		<string>fb175568195800784</string>
		<string>fb177590518984931</string>
		<string>fb1810967912462741</string>
		<string>fb191445434271484timehop</string>
		<string>fb192161334139408</string>
		<string>fb19507961798</string>
		<string>fb197014527058733</string>
		<string>fb199649273430005</string>
		<string>fb203988736392800</string>
		<string>fb209017055906856</string>
		<string>fb210827375150free</string>
		<string>fb213051598811977</string>
		<string>fb213987028960pro</string>
		<string>fb214693958691892</string>
		<string>fb218307504870310tasks</string>
		<string>fb220116188155668translatorfree</string>
		<string>fb221101122241</string>
		<string>fb237759909591655</string>
		<string>fb237798263061378</string>
		<string>fb2558160538</string>
		<string>fb257103694498881</string>
		<string>fb263458090357566</string>
		<string>fb267470608481</string>
		<string>fb279901035446446free</string>
		<string>fb287841191366653</string>
		<string>fb292065597989</string>
		<string>fb309481925768757</string>
		<string>fb313137469260</string>
		<string>fb313137469260sacodingents</string>
		<string>fb331035773641013</string>
		<string>fb351282064925439free</string>
		<string>fb366785009883</string>
		<string>fb379297105561659</string>
		<string>fb393837287463945</string>
		<string>fb398317320231189</string>
		<string>fb40582213222</string>
		<string>fb422319874513828</string>
		<string>fb422840351240913</string>
		<string>fb424602234344511</string>
		<string>fb441596932579842</string>
		<string>fb453119031370300</string>
		<string>fb457262524303247</string>
		<string>fb470059849708951</string>
		<string>fb48119224995</string>
		<string>fb497562323730016</string>
		<string>fb500311450085524main</string>
		<string>fb508586409152169</string>
		<string>fb529691967076123sing</string>
		<string>fb529691967076123smulesing</string>
		<string>fb531435630236702</string>
		<string>fb539490962762175</string>
		<string>fb541112032565475</string>
		<string>fb542129432493562</string>
		<string>fb544713502293941</string>
		<string>fb58043288762</string>
		<string>fb604702116236078</string>
		<string>fb607979835904519</string>
		<string>fb620493414640363seasons</string>
		<string>fb620493414640363starwarsii</string>
		<string>fb621214767973286</string>
		<string>fb624263477625321</string>
		<string>fb70007455746</string>
		<string>fb719345594828948</string>
		<string>fb741563159295347</string>
		<string>fb767012743314425</string>
		<string>fb849489178432642</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbauth</string>
		<string>fblogin</string>
		<string>fbshareextension</string>
		<string>feed</string>
		<string>feedly</string>
		<string>fileupload2</string>
		<string>fileupload</string>
		<string>fing</string>
		<string>fitbrains-trainer</string>
		<string>flickr-tumblr</string>
		<string>flickr</string>
		<string>flickrpathon</string>
		<string>flstudiomobilehd240.audiobus</string>
		<string>flstudiomobilehd</string>
		<string>flxvid</string>
		<string>fmip1</string>
		<string>fmtapmedia</string>
		<string>foursquare</string>
		<string>fsq+lrfolez0g3zvki31ump5lhrj45o1b2myq1g5chsi4z0wivt2+authorize</string>
		<string>fsq+lrfolez0g3zvki31ump5lhrj45o1b2myq1g5chsi4z0wivt2+post</string>
		<string>ftp</string>
		<string>gamecenter</string>
		<string>garageband</string>
		<string>geo</string>
		<string>ghttp</string>
		<string>ghttps</string>
		<string>giffer</string>
		<string>googleauthenticator</string>
		<string>googlechrome-x-callback</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>googledocs-v2</string>
		<string>googledocs</string>
		<string>googledrive-v1</string>
		<string>googledrive-v2</string>
		<string>googledrive-v3</string>
		<string>googledrive</string>
		<string>googlegmail-x-callback</string>
		<string>googlegmail</string>
		<string>googlemaps</string>
		<string>googlephotos</string>
		<string>grhttp</string>
		<string>grhttps</string>
		<string>gsd-yelp4</string>
		<string>gsd-yelp6</string>
		<string>gsd-yelp9.8</string>
		<string>gsd-yelp</string>
		<string>ha0b471dcaa1286cb9e3f863b53056d0e8</string>
		<string>ha8cee9c8c85179b94b6bc73ee16ba2a98</string>
		<string>ha</string>
		<string>haf58527c1984db979a22f62188b1810da</string>
		<string>handle</string>
		<string>historyhere</string>
		<string>http</string>
		<string>https</string>
		<string>hulu</string>
		<string>iDownloads</string>
		<string>iMaschine</string>
		<string>iRec</string>
		<string>iTranslate</string>
		<string>iacplaintext</string>
		<string>iadoptout</string>
		<string>ibooks</string>
		<string>icabmobile</string>
		<string>icleaner</string>
		<string>icloud-sharing</string>
		<string>ifile</string>
		<string>ifttt</string>
		<string>iftttconnectv1-dobutton</string>
		<string>iftttconnectv1-docamera</string>
		<string>iftttconnectv1-donote</string>
		<string>ihandyflashlightledpro</string>
		<string>imaschine-1.3.audiobus</string>
		<string>imovie1.4</string>
		<string>imovie</string>
		<string>improVox-2.27.audiobus</string>
		<string>improVox</string>
		<string>improvoxswwacp</string>
		<string>instagram</string>
		<string>is.workflow.my.app.sendtogr</string>
		<string>itms-apps</string>
		<string>itms-beta</string>
		<string>itms-books</string>
		<string>itms-bookss</string>
		<string>itms-gc</string>
		<string>itms-gcs</string>
		<string>itms-itunesu</string>
		<string>itms-itunesus</string>
		<string>itms-pcast</string>
		<string>itms-pcasts</string>
		<string>itms-services</string>
		<string>itms-watch</string>
		<string>itms</string>
		<string>itmss</string>
		<string>itranslate</string>
		<string>itranslatevoice</string>
		<string>itsradio</string>
		<string>itunesu</string>
		<string>jamuppro-spotify</string>
		<string>jamuppro.2.1.audiobus</string>
		<string>jamuppro.biasamp.foriphone</string>
		<string>jamuppro.biasamp</string>
		<string>jamuppro.sampler</string>
		<string>jamuppro</string>
		<string>jsany</string>
		<string>jump</string>
		<string>juxtaposer</string>
		<string>juxtaposercrashtest</string>
		<string>kakaotalk</string>
		<string>khan-debug</string>
		<string>khan-video</string>
		<string>khanacademy</string>
		<string>kik-share</string>
		<string>kik</string>
		<string>kml</string>
		<string>kmz</string>
		<string>launch-OfficeLens</string>
		<string>launch-ppt-intunemam</string>
		<string>launch-ppt</string>
		<string>launch-word-intunemam</string>
		<string>launch-word</string>
		<string>launch</string>
		<string>launcher</string>
		<string>launcherpro</string>
		<string>launchpro-dial</string>
		<string>launchpro-light</string>
		<string>launchpro</string>
		<string>launchtimer</string>
		<string>lifttt</string>
		<string>lightricksshareflickr</string>
		<string>line2-debug</string>
		<string>line2-sms</string>
		<string>line2</string>
		<string>line</string>
		<string>listacular</string>
		<string>loopy-hd-1.4.8.audiobus</string>
		<string>loopy-hd</string>
		<string>loopy</string>
		<string>loyaltycard</string>
		<string>magisto</string>
		<string>mailto</string>
		<string>map</string>
		<string>mapitem</string>
		<string>maps</string>
		<string>message</string>
		<string>mfp-runtastic-runtasticpro</string>
		<string>mfp-walkmeter</string>
		<string>midiflow-preset</string>
		<string>mindnode</string>
		<string>miniSynth2</string>
		<string>miniSynth2b.audiobus</string>
		<string>mlauncher</string>
		<string>mms</string>
		<string>mmsh</string>
		<string>mobilegarageband203.audiobus</string>
		<string>mobilenotes</string>
		<string>mqq</string>
		<string>ms-onedrive-intunemam</string>
		<string>ms-onedrive</string>
		<string>music</string>
		<string>musics</string>
		<string>musicstudiolite</string>
		<string>navigon</string>
		<string>nflx</string>
		<string>nocs</string>
		<string>nprone</string>
		<string>numflix</string>
		<string>onenote-cmd-intunemam</string>
		<string>onenote-cmd</string>
		<string>onenote-intunemam</string>
		<string>onenote</string>
		<string>onepassword4</string>
		<string>onepassword</string>
		<string>open-word-intunemam</string>
		<string>open-word</string>
		<string>ophttp</string>
		<string>ophttps</string>
		<string>optly2502280322</string>
		<string>org-appextension-feature-password-management</string>
		<string>org.npr.one</string>
		<string>oscillator1.audiobus</string>
		<string>osnapphotoapp</string>
		<string>otpauth</string>
		<string>overcast</string>
		<string>pandora</string>
		<string>pandorav2</string>
		<string>pandorav3</string>
		<string>pandorav4</string>
		<string>path-auth</string>
		<string>path</string>
		<string>pathon</string>
		<string>pcast</string>
		<string>pdfpenscan</string>
		<string>ph-figure</string>
		<string>phfigure.1.6.2.audiobus</string>
		<string>phfigure</string>
		<string>photogrid</string>
		<string>photos-event</string>
		<string>photos-migrate-iphoto</string>
		<string>photos-redirect</string>
		<string>photos</string>
		<string>plexapp</string>
		<string>pocketapp14931</string>
		<string>pocketapp16003</string>
		<string>pocketapp36486</string>
		<string>pocketcloudpartner</string>
		<string>podcasts</string>
		<string>positivegridbias</string>
		<string>positivegridbiasiphone.audiobus</string>
		<string>powerpoint-intunemam</string>
		<string>powerpoint</string>
		<string>prefs</string>
		<string>preguntados</string>
		<string>prompt-sendv1settings</string>
		<string>prompt-ssh</string>
		<string>prompt-telnet</string>
		<string>puffin-full</string>
		<string>puffin-fulls</string>
		<string>puffin</string>
		<string>puffins</string>
		<string>pythonista</string>
		<string>qr</string>
		<string>radar</string>
		<string>rdar</string>
		<string>rdp</string>
		<string>redlaser5</string>
		<string>redlaser</string>
		<string>remote</string>
		<string>rk91af3d3ecf764961b4d8d1f60940b10a</string>
		<string>rtmp</string>
		<string>rtp</string>
		<string>rtsp</string>
		<string>safaridownloader</string>
		<string>sc1337</string>
		<string>scrdbg</string>
		<string>screens</string>
		<string>sessionm557588a2b87c9a9231ae65d6ba046eae70ffc11e</string>
		<string>sftp</string>
		<string>shazam-v8</string>
		<string>shazam</string>
		<string>shazamimporttags</string>
		<string>shoebox</string>
		<string>short-menu</string>
		<string>shortMenu</string>
		<string>shortmenu</string>
		<string>simplenote</string>
		<string>smb</string>
		<string>smeegoapp</string>
		<string>sms</string>
		<string>smuleautorap</string>
		<string>smulesing</string>
		<string>soundcloud</string>
		<string>spotify-action</string>
		<string>spotify</string>
		<string>spotifyexternal</string>
		<string>spotifymainapp</string>
		<string>squarepoet.tinypiano</string>
		<string>srcfari</string>
		<string>ssh</string>
		<string>starwalk2</string>
		<string>starwalk</string>
		<string>stumbleupon</string>
		<string>su</string>
		<string>swiftkey</string>
		<string>swipes</string>
		<string>syfytve</string>
		<string>symbolay</string>
		<string>tabsiphone</string>
		<string>tally2</string>
		<string>tbNwM7lcllKJhQVQPogLKunDlhvUwcQtryoUqMUadHKDEZirClXS</string>
		<string>tedbooks</string>
		<string>tel</string>
		<string>telnet</string>
		<string>telprompt</string>
		<string>tetouch-settings</string>
		<string>tetouch-xc</string>
		<string>tetouch</string>
		<string>textexpander3-migrate</string>
		<string>texttool</string>
		<string>things2-database-export</string>
		<string>things2-iphone</string>
		<string>things</string>
		<string>timehop</string>
		<string>tjc429648406</string>
		<string>tl-59bbdf71</string>
		<string>tmhttp</string>
		<string>tmhttps</string>
		<string>today-walkmeter</string>
		<string>totp</string>
		<string>tpain</string>
		<string>transit</string>
		<string>translatorfreenew</string>
		<string>tumblr</string>
		<string>tw</string>
		<string>twc</string>
		<string>twcweather</string>
		<string>twerker</string>
		<string>twitter543186831</string>
		<string>twitter</string>
		<string>twitterloginhome</string>
		<string>twittermusichome</string>
		<string>twodo-fill-xc</string>
		<string>twodo-get-snippets-xc</string>
		<string>twodo-widget</string>
		<string>twodo</string>
		<string>uber</string>
		<string>udemy-codingents</string>
		<string>udemy-python</string>
		<string>udp</string>
		<string>venmo1809</string>
		<string>viber</string>
		<string>vicenews</string>
		<string>videos</string>
		<string>vidlab</string>
		<string>vidme</string>
		<string>vio22.audiobus</string>
		<string>vio</string>
		<string>vk</string>
		<string>vlc-x-callback</string>
		<string>vlc</string>
		<string>vnc</string>
		<string>vnd.youtube-broad-matching</string>
		<string>vnd.youtube</string>
		<string>vocalive020020.audiobus</string>
		<string>vocalive</string>
		<string>voicememos</string>
		<string>vuduiosplayer</string>
		<string>waze</string>
		<string>web</string>
		<string>webapp</string>
		<string>webcal</string>
		<string>webclip</string>
		<string>webconfig</string>
		<string>webs</string>
		<string>webt</string>
		<string>wechat</string>
		<string>whatsapp</string>
		<string>workflow-production</string>
		<string>workflow000000</string>
		<string>workflow1B9AF7</string>
		<string>workflow</string>
		<string>wx0888d83c42039edc</string>
		<string>wx5435231006039175</string>
		<string>wx9c9ac7865b82d0ae</string>
		<string>wxc76f088238628e8b</string>
		<string>x-apple-calevent</string>
		<string>x-apple-reminder</string>
		<string>x-drafts4-textexpander-fill</string>
		<string>x-drafts4-textexpander-snippets</string>
		<string>x-drafts4</string>
		<string>x-maps-bulletin</string>
		<string>x-maps-reopen</string>
		<string>x-maps-route-genius</string>
		<string>x-tips-bulletin</string>
		<string>x-web-search</string>
		<string>yandexnavi</string>
		<string>youdoodle-1</string>
		<string>youtube</string>
	</array>
</dict>
</plist>
